@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
  }

  html {
    color-scheme: dark;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: "PingFang SC", "Inter", system-ui, sans-serif;
  }
}
